@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-color: #0b1f2f;
  --link-color: #486287;
  --button-color: #b0c2da;
  --button-hover-color: #9eb1cb;

  --font: "PT Serif", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--font-color);
  background-color: #ffffff;
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: rgb(var(--font-color));
  cursor: pointer;
}
