.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  composes: user_info__button from "./UserPage.module.css";
}
